body {
    background: aliceblue;
    font-family: Monospaced;
    font-size: 18px;
    color: black;
}

#canvas {
    border: 1px solid;
    width: 300px;
}

input {
    display: block;
    margin-top: 12px;
}

input:not([type="file"]) {
    background: #969ed4;
    border: 0;
    padding: 8px 20px;
    cursor: pointer;
}

input :not([type="file"]) {
    background: #3171e8;
}

.filters input {
    display: inline-block;
}

.nomarginbottom {
    margin-bottom : 0;
}


